services:
  shoplanner:
    build:
      context: .
    env_file:
      - ./.env
    depends_on:
      dolt:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "3000:3000"
    tty: true
    volumes:
      - .:/var/lib/shoplanner/
